<%-include('header.ejs')%>
<div class="container">
    <div class="row p-5">
        <div class="col-md-12 p-4 rounded bg-light" style="overflow-x: scroll;">
            <h3>COMPLETED TASKS</h3>
            <table class="display" id="example">
                <thead>
                    <tr>
                        <th>SrNo</th>
                        <th>Oder Date</th>
                        <th>Address</th>
                        <th>Return Date</th>
                        <th>Vehical Number</th>
                        <th>Order List</th>
                   
                        <th>Expense List</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <%for(let i=0;i<task.length;i++){%>
                        <tr>
                        <td>
                            <%-i+1%>
                        </td>
                        <td>
                            <%-task[i].order_date%>
                        </td>
                        <td>
                            <%-task[i].address%>
                        </td>
                        <td>
                            <%-task[i].return_date%>
                        </td>
                        <td>
                            <%-task[i].v_num%>
                        </td>
                        <td>
                            <a href="/driver/order-list/<%-task[i].id%>" class="btn btn-primary">Order</a>
                        </td>
                        
                        <td>
                            <a href="/driver/expense-list/<%-task[i].id%>" class="btn btn-primary">Expenses</a>
                        </td>

                        


                        </tr>
                        
                        
                        <%}%>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<%-include('footer.ejs')%>