<%-include('header.ejs')%>
<div class="container">
    <div class="row p-4">
        <div class="col-md-12 rounded p-3 bg-light">
         <strong style="font-size: 14px;"><%-data.order_date%></strong></br>
        </br>
         <strong style="font-size: 14px;">Address :</strong>
         <p><%-data.address%></p>
         <strong style="font-size: 14px;">Address :</strong>
         <p><%-data.status%></p>
        </div>
    </div>
</div>
<%-include('footer.ejs')%>