<%-include('header.ejs')%>
<div class="container py-5">
    <div class="row">
        
        <div class="col-md-12 rounded bg-light p-4" >
            <h3 >ADD DELIVERY</h3>
        <h4>DILEVERY &  ADDRESS DETAILS </h4>
           <div class="row">
            <div class="col-md-6 mb-3">
                <label class="mb-2">Order Date* :</label>
                <input type="date" class="form-control" id="oder_date" required/>
            </div>
            <div class="col-md-6 mb-3">
                <label class="mb-2">Driver* :</label>
              
                <select class="form-control" required id="driver">
                   <option value="" disabled selected>Select driver</option>
                   <%for(let i of driver){%>
                    <option value="<%-i.driver_details_id%>" ><%-i.driver_name%></option>
                    <%}%>
                </select>

            </div>
            <div class="col-md-12 mb-3">
                <label class="mb-2">Order Address* :</label>
             
                <textarea rows="5" class="form-control" id="addr" required></textarea>
            </div>

           </div>
        </div>
        <div class="col-md-12 rounded bg-light p-4 mt-5" style="overflow-x:scroll;" >
            <h4>PRODUCT DETAILS</h4>
            <table class="table mt-4 table-striped">
                <tr>
                    <th>Product</th>
                    <th>Qauntity</th>
                   
                    <th>
                        <button class="btn btn-primary" onclick="addRow()">+</button>
                    </th>
                </tr>
                <tbody id="tbody">

                </tbody>
            
                
            </table>
            <button class="btn btn-success mt-5" onclick="sendData()" id="subbtn" disabled>Procceed</button>
        </div>
    </div>
</div>
<script>
     let j=0;
    function addRow(){
       
        $("#tbody").append(`
          <tr>
            <td>
                <select name="product" id="product-${j}" onchange="setProduct()" class="form-control">
                    <option value="" selected disabled>Select product</option>
                  <%for(let i of product){%>
                   <option value="<%-i.stock_id%>" ><%-i.stock_name%></option>
                  
                  <%}%>
                  
                    </select>
                
                </td>
                <td>
                    <input type="number" placeholder="Quantity" id="qty-${j}" class="form-control" name="qty" >
                    </td>
                 
                        <td>
                            <button class="btn btn-danger" onclick="deleteRow()"><i class="fa fa-trash"></i></button>
                            </td>
            </tr>
       
        `)
        j++;
toggleBtn()
    }



    
function toggleBtn(){
if(j>0){
document.getElementById("subbtn").disabled=false;
}
else{
    document.getElementById("subbtn").disabled=true;

}
}
function deleteRow(){
    event.target.closest('tr').remove();
    j--;
    toggleBtn()
}
function sendData(){
    let obj={
        "driver":document.getElementById("driver").value,
        "order_date":document.getElementById("oder_date").value,
        "address":document.getElementById("addr").value,
        "product":[],
        "qty":[]
    }
    document.getElementById('subbtn').innerHTML(`<div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>`);
    let pro=document.getElementsByName("product");
    let qty=document.getElementsByName("qty");
    for(let i of pro){
        obj.product.push(i.value);
    }
    for(let i of qty){
        obj.qty.push(i.value);
    }
    $.ajax({
        "method":"post",
        "url":"/save-delivery",
        "data":obj
    }).done((res)=>{
      location.href="/delivery-list"
    })
}
</script>
<%-include('footer.ejs')%>