<%- include("header.ejs") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<div class="container p-5 ">
    <div class="row p-3 bg-light" style="overflow-x: scroll;">
      <div class="col-md-12">

      
            <h3>Driver's List</h3>
       
        <table id="example" class="display">
            <thead>
    
         
            <tr>
                <th>#</th>
                <th>Driver Image</th>
                <th>Driver Name</th>
                <th>Driver Mobile.No</th>
                <th>Driver Address</th>
                <th>Driver Password</th>
                <th>Driver Avaliable Status</th>
                <th>Driver Salary</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    
       
            <% for(var i=0;i<driver_det.length;i++) { %>
            <tr>
                <td>
                    <a href="/edit_driver_details/<%= driver_det[i].driver_details_id %>">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
                       </a>
                </td>
                <td>
                    <img style="width: 50px;height: 50px;border-radius: 50%;"  src="/images/<%= driver_det[i].driver_image %>">
                </td>
                <td><%= driver_det[i].driver_name %></td>
                <td><%= driver_det[i].driver_mobile %></td>
                <td><%= driver_det[i].driver_address %></td>
                <td><%= driver_det[i].driver_password %></td>
                <td>&#8377; <%= driver_det[i].salary %></td>
                <td>
                    
                    <%= (driver_det[i].driver_available_status=='true')?'Avilable':'Not ' %></td>
                <td>
                   
                
                        <button class="btn btn-danger p-2"onclick="deleteDriver('<%= driver_det[i].driver_details_id %>')"><i class="fa fa-trash"></i></button>
                    
                </td>
            </tr>
            <% } %>
        </tbody>
        </table>
        
        <button class="btn btn-primary float-end mt-5" onclick="window.print()">Print</button>
        <button class="btn btn-success mx-3 float-end mt-5" id="driverList">Excel</button>
       
    </div>
    </div>
  
    </div>
<script>
    function deleteDriver(id){
        let r=confirm('Delete Driver ?');
        if(r==true){
            location.href='/delete_driver_details/'+id;
        }
    }

    document.getElementById('driverList').addEventListener('click', function () {
       
       var table = document.getElementById('example');

     
       var worksheet = XLSX.utils.table_to_sheet(table);

    
       var workbook = XLSX.utils.book_new();
       XLSX.utils.book_append_sheet(workbook, worksheet, 'StockList');

     
       XLSX.writeFile(workbook, 'DriverList.xlsx');
   });
</script>
<%- include("footer.ejs") %>