<%-include('header.ejs')%>
<div class="container">
    <div class="row my-5">
        <div class="col-md-3 p-2">
            <a href="/driver_list">
                <div class="card card-body shadow py-3 w-100">
                <div class="row ">
                    <div class="hstack gap-3">
                        <img src="/images/delivery-boy.png" height="60" width="auto">
                        <div class="vr"></div>
                        <div class=" text-center jusitfy-content-center">
                            <h4>Total Drivers</h4>
                            <h3><%-driver.ttl%></h3>
                           </div>
                      </div>
                </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 p-2">
            <a href="/stock_list">
                <div class="card card-body shadow  py-3 w-100">
                <div class="row ">
                    <div class="hstack gap-3">
                        <img src="/images/packages.png" height="60" width="auto">
                        <div class="vr"></div>
                        <div class=" text-center jusitfy-content-center">
                            <h4>Total Stock</h4>
                            <h3><%-stock.ttl_stk%></h3>
                           </div>
                      </div>
                </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 p-2">
            <a href="/vehical-list">
                <div class="card card-body shadow  py-3 w-100">
                <div class="row ">
                    <div class="hstack gap-3">
                        <img src="/images/cargo-truck.png" height="60" width="auto">
                        <div class="vr"></div>
                        <div class=" text-center jusitfy-content-center">
                            <h4>Total Vehical</h4>
                            <h3><%-vehical.ttl_vehical%></h3>
                           </div>
                      </div>
                </div>
                </div>
            </a>
        </div>


        <div class="col-md-3 p-2">
            <a href="/vehical-list">
                <div class="card card-body shadow  py-3 w-100">
                    <div class="row ">
                        <div class="hstack gap-3" >
                            <img src="/images/checklist.png" height="60" width="auto">
                            <div class="vr"></div>
                            <div class=" text-center jusitfy-content-center">
                                <h4>Total Order</h4>
                                <h3><%-vd.ttlvd%></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


       

    </div>
    
    <div class="row pb-3 ">
        <div class="col-md-6 bg-white p-2 rounded-2 shadow">
            <h3 class="ms-3">Orders</h3>            
            <div class="row">
                <div class="col-md-6">
                    <div class="hstack gap-3" >
                        <img src="/images/box.png" height="60" width="auto">
                        <div class="vr text-primary"></div>
                        <div class=" text-center jusitfy-content-center">
                            <h5>Pending Order</h5>
                            <h3><%-vdp.ttlp%></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hstack gap-3" >
                        <img src="/images/booking.png" height="60" width="auto">
                        <div class="vr text-primary" style="width: 0.5px;"></div>
                        <div class=" text-center jusitfy-content-center">
                            <h5>Approved Order</h5>
                            <h3><%-vda.ttla%></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%-include('footer.ejs')%>