<%-include('header.ejs')%>
<div class="container">
    <div class="row p-4">
        <div class="col-md-12 bg-light rounded p-4" style="overflow-x: scroll;">
            <h3>ORDER LIST</h3>

            <button class="btn btn-primary btn-sm" onclick="history.back()"><i class="fa fa-arrow-left"></i></button>
        <table class="table table-striped mt-3">
            <tr>
                <th>SrNo</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Product</th>
                <th>Cylender Quantity</th>
                <th>Return Cylenders Quantity</th>
                <th>Paid Amount</th>
                <th>Bill</th>
                <th>Status</th>

            </tr>
            <%for(let i=0;i<data.length;i++){%>
        <tr>
            <td>
                <%-i+1%>
            
            </td>
            <td>
        
        <a href="/edit_cust/<%-data[i].customer_id%>"  >      <%-data[i].cust_name%>
        </a>
        </td>
                <td> <%-data[i].cust_add%></td>
            <td>

                <%-data[i].product_name%></td>
            <td><%-data[i].qty%></td>
            <td><%-data[i].return_c%></td>
            <td><%-data[i].paid_amount%></td>
            <td>
                <a href="/order_bill/<%-data[i].order_id%>/<%-data[i].id%>">
                    <button><i class="fa fa-file-image"></i></button>
                </a>
            </td>
            <td class="<%-(data[i].isDone=='false')?'text-warning':'text-success'%>"><%-(data[i].isDone=='false')?'pending':'delivered'%></td>
        </tr>
        <%}%>
        </table>
        </div>
        
    </div>
</div>

<%-include('footer.ejs')%>