<%-include("header.ejs")%>
<div class="container  my-3 table-responsive">
   
    <div class="row p-3">
        <div class="col-md-12 rounded p-3 bg-light" style="overflow-x: scroll;">
            <h3 class="my-3">STOCK LIST</h3>
            <table class="display" id="example" >
                <thead>
                    <tr>
                        <th>SR</th>
                        <th>Action</th>
                        <th>Stock Name</th>
                        <th>Stock Quantity</th>
                        <th>Stock Unit</th>
                        <th>Stock Date</th>
                    </tr>
                </thead>
               <tbody>
        
            
                <% stock.map((row,i)=>{ %>
                    <tr>
                        <th><%-i+1%></th>
                        <th>
                            <a href="/edit_stock/<%-row.stock_id%>">
                                <button class="btn btn-sm btn-primary">Edit</button>
                            </a>
                            <a href="/delete_stock/<%-row.stock_id%>">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </a>
                            
                        </th>
                        <th><%-row.stock_name%></th>
                        <th><%-row.stock_qty%></th>
                        <th><%-row.stock_unit%></th>
                        <th><%-row.stock_date%></th>
                    </tr>
                <% }) %>
            </tbody>
            </table>
        </div>
    </div>
   
</div>
<%-include("footer.ejs")%>