<%-include('header.ejs')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


<div class="container table-responsive py-5">
    <div class="row">
        <div class="col-md-12 bg-light p-4 rounded ">
            <h3>VEHICAL LIST</h3>
            <div class="col-md-12 mt-3  " style="overflow-x: scroll;">
                <table class="display" id="example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Avilable</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i of vehi){%>
                            <tr>
                                <td><a href="/edit-vehical/<%-i.id%>"><i class="fa fa-edit"></i></a></td>
                                <td><img src="/images/<%-i.image%>" style="height: 100px;width: 150px;" alt="vehical image"></td>
                                <td><%-i.name%></td>
                                <td><%-i.number%></td>
                                <td><%-(i.isAvilable=='true')?'Avilable':'Not'%></td>
                                <td><button class="btn btn-danger" onclick="deleteVeh('<%-i.id%>')"><i class="fa fa-trash"></i></button></td>
                            </tr>
                            
                            <%}%>
                    </tbody>
                </table>

                <button class="btn btn-primary my-5 float-end" onclick="window.print()">Print</button>
                <button class="btn btn-success my-5 float-end mx-3" id="vehicalList">Excel</button>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteVeh(id){
        let r=confirm('Delete Vehical ?');
        if(r==true){
            location.href='/delete-vehical/'+id;
        }
    }
    document.getElementById('exportExcel').addEventListener('click', function () {
       
       var table = document.getElementById('example');

     
       var worksheet = XLSX.utils.table_to_sheet(table);

    
       var workbook = XLSX.utils.book_new();
       XLSX.utils.book_append_sheet(workbook, worksheet, 'StockList');

     
       XLSX.writeFile(workbook, 'StockList.xlsx');
   });
</script>

<%-include('footer.ejs')%>